.shoutbox * {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a:visited {
    color: blue;
}

.shoutbox {
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    min-width: 350px;
    grid-template-columns: minmax(8rem, auto) 9fr;
    grid-template-rows: 35px calc(100% - 60px - 35px - 10px) 60px;
    display: grid;
    grid-gap: 5px;
    position: relative;
}

.shoutbox .emoji {
    height: 1.5em;
}

.shoutbox .button {
    border: none;
    border-bottom: 1px solid black;
    background-color: WhiteSmoke;
    margin: 10px;
}

/* userList */
.shoutbox .userList {
    font-size: 1em;
    border: 1px solid black; /* good design, am i right? */
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / span 2;
    overflow: auto;
}

.shoutbox .userList * {
    margin: 2px;
}

/* topBar */
.shoutbox .topBar {
    font-size: 1em;
    border: 1px solid black; 
    height: 100%;
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    overflow: auto;
    padding: 5px;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: center;
}

.shoutbox .topBar .banner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* statusBar */
.shoutbox .statusBarWrapper {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shoutbox .statusBar {
    font-size: 1em;
    word-wrap: break-word;
    padding: 5px;
    text-align: center;
}

.shoutbox .error {
    color: red;
}

/* messageControls */
.shoutbox .messageControls {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    grid-column: 2;
    grid-row: 3;

    display: flex;
    justify-content: space-between;
}

.shoutbox .messageControls .messageInput {
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: WhiteSmoke;
    flex-grow: 1;
    resize: none;
}

.shoutbox .messageControls .sendButton {
    width: 15%;
}

.shoutbox .messageControls .emojisButton {
    width: 15%;
}

/* messageList */
.shoutbox .messageList {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}

.shoutbox .messageList .message {
    margin: 3px;
    border-bottom: 1px solid lightgray;
}

.shoutbox .messageList .statusMessage .content {
    color: gray;
    font-style: italic;
}

.shoutbox .messageList .message .timestamp {
    font-size: 0.75em;
    color: gray;
    margin-left: 2px;
    margin-right: 2px;
}

.shoutbox .messageList .message .username {
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: underline;
}

.shoutbox .messageList .message .content {
    word-wrap: break-word;
    margin-left: 3px;
}

/* prompt */
.promptWrapper {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt {
    max-height: 80%;
    width: 20rem;

    background-color: white;
    border: 1px solid black;

    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 3fr minmax(50px, 2fr) minmax(50px, 2fr);
    display: grid;

    grid-gap: 5px;
}

.alert {
    grid-template-rows: 3fr 50px;
}

.prompt * {
    margin: 3px;
}

.prompt .labelWrapper {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt .labelWrapper * {
    text-align: center;
    margin: auto;
}

.alert .labelWrapper {
    overflow-y: auto;
}

.prompt .input {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    padding-left: 5px;
}

.prompt .confirmButton {
    grid-column: 3 / span 1;
    grid-row: 3 / 3;
}

.alert .confirmButton {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.prompt .cancelButton {
    grid-column: 2 / span 1;
    grid-row: 3 / 3;
}

.prompt button {
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
    background-color: WhiteSmoke;
}

.prompt input {
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
    background-color: WhiteSmoke;
}

/* media queries */
@media only screen and (max-width: 450px) {
    .shoutbox .userList {
        visibility: hidden;
    }    
    
    .shoutbox .statusBarWrapper {
        visibility: hidden;
    }    

    .shoutbox .topBar {
        grid-column: 1 / span 2;
    }    

    .shoutbox .messageList {
        grid-column: 1 / span 2;
    }

    .shoutbox .messageControls {
        grid-column: 1 / span 2;
    }
}
